* {
	box-sizing:border-box;	
}

html {
  height: 100%;
}

body {
  height:100vh;
  width: 100%;
	margin:0;
	
	display:grid;
  gap: 1em;
}
header{
  display: grid;
  background-color: white;
  max-height: 12vh;
  grid-row: 1;
  grid-column: span 2;
}

main {
  width: 100%;
  min-height: 90vh;

	position:relative;
	background-color:pink;
	overflow:auto;
  grid-row: 2;
  grid-column: span 2;
 
}


ul {	
  display: grid;
	margin: 0px;
	padding: 1em;
  list-style:none;
  position:absolute;
	background-color:#fff;
  grid-template-columns: repeat(4, 2fr);
  gap: 2px;
}

li {
  --aspect-ratio:1;
  height: auto;
  overflow: hidden;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio:var(--aspect-ratio);
}

.logo {
  max-width: 30vh;
  margin: 1em;
  margin-bottom: 0;
  float: left;
 
}

.img-1, .img-3, .img-2 {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
ul.photo-list li:hover img {
  transform: scale(2); 
  z-index: 10; 
}


li:nth-of-type(2n) {
  --aspect-ratio:0.5;
}

li:nth-of-type(5n) {
  --aspect-ratio:1.3;

	
}
li:nth-of-type(9n) {
	--aspect-ratio:2.5;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropbtn{
  position: fixed;
  top: 2vh;
  right: 1vh;
}

.dropdown {
  position: relative;
  right: 1vh;
  top: 1vh;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  overflow: hidden;
  max-height: 90vh; 
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ffea00;
}

.dropdown:hover .dropdown-content {
  display: block;
  left: 0;
  right: auto;
}

.dropdown-content {
  right: 0;
  left: auto;
  overflow-y: auto;
}

.dropdown:hover .dropdown-content {
  right: 0; 
  left: unset;
}


footer {
  width: 100vh;
  background-color: rgba(255, 255, 255, 0); 
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  grid-row: 3;
  grid-column: span 2;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  z-index: 10; 
}


.footer-filters {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-filters a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgb(71, 67, 67);
  transition: background-color 0.3s ease;
}

.footer-filters a:hover {
  background-color: #ffea00;
}

.footer-search {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-search input {
  width: 100%;
  padding: 12px;
  border: none;
  font-size: 16px;
}


.footer-search button {
  padding: 15px 30px;
  border: none; 
  font-size: 17px;
  float: left;
 
  background: #ffffff;
  
  
}

@media (max-width: 480px) {
  body > header{
    max-height: 15vh;
    
  }

}
@media (max-width: 350px) {
  ul{
    grid-template-columns: repeat(1, 1fr);
  }
  
}


